/*=============================================
=            section background colors           =
=============================================*/
.section-container--intro {
    background-image: linear-gradient(to right top, #f28d35, #f28029, #f2721e, #f26214, #f2500b, #ee4608, #e93b06, #e52e05, #db2c05, #d22a04, #c82804, #bf2604);
}

.text__contact span{
    // background-image: linear-gradient(to right top, #bf2604, #c82804, #d22a04, #db2c05, #e52e05, #e93b06, #ee4608, #f2500b, #f26214, #f2721e, #f28029, #f28d35);
background: $secondary;
border-radius: .5rem;
}

.section-container--projects{
    // background: $primary;
}

.section-container--skills {
    background: $secondary;
    // background: darken($neutral, 20%);
}

.section-container--availability{
    // background: $blaze;
}

.section-container--priors {
    background: $tertiary;
}




/*=============================================
=            overlay / mobile navbar            =
=============================================*/


/* mobile navbar */

.navbar__mobile{ 
    background-image: linear-gradient(to right, #f23005, #e52e05, #d82b04, #cc2904, #bf2604);
}

// .svg__site-glpyh{
.svg__site-glyph{
    fill: $white;
}

.navbar-toggler-icon {} //color set in background-image property in layout.scss



/* overlay */



a.closebtn{
    color: $secondary;
}

.svg__site-glyph--overlay{
fill: $secondary;
}

.overlay{
    background: linear-gradient(#000000 28%, #313131 68%) no-repeat 50% 50% / 100% 100%;
    //    background: $primary;
}

.overlay__content a{
color: $secondary;
}

.icon__overlay-nav{
    fill: $secondary;
    }

.container__footer-icons{
    svg{
        fill: $secondary;
    }
}

.overlay__footer, .footer__text{
    color: $secondary;
}



/*=============================================
=            sidebar            =
=============================================*/

.sidebar__container{
    background: $primary-100;

}

.sidebar__content-container a{
    color: $white;
}

.icon__sidebar-nav{
    fill: $black;
} 



/*=============================================
=            misc elements            =
=============================================*/
button:focus {
    outline-color: transparent;
}

.scroll-top{
    background: rgba(255,255,255,.5);
    // border: thin solid $primary;
}

.scrollup{
fill: $gray-600;
}



/*=============================================
=            imagery            =
=============================================*/
//! moved to effect assignment

// .project-image{
//     background: $secondary;
// }






/*=============================================
=            iconography            =
=============================================*/

.icon__contact, .icon{
    fill: $white;
}



.icon__sidebar-nav{
    fill: $white;
}



/*=============================================
=            text            =
=============================================*/


a {
    color: $secondary;
}

.content--projects, .content--projects a{
        color: $off-black;
}


/* section-specific */

.section-container--intro{
    color: $white;
}

.content--skills{
    color: $white;
}

.section-container--availability{
h3, h4{
color: $secondary;
}
}

.section-container--priors{
    color: $white;
}



/*=============================================
=            footer            =
=============================================*/
#wrapper-footer{
    background: transparent;
    color: $off-white;
    @include vr($font-size: 0);
    font-weight: 100;
}



