/*=============================================
=            section background colors           =
=============================================*/
.section-container--intro {
    background-image: linear-gradient(to right top, #f28d35, #f28029, #f2721e, #f26214, #f2500b, #ee4608, #e93b06, #e52e05, #db2c05, #d22a04, #c82804, #bf2604);
}

.text__contact span{
    // background-image: linear-gradient(to right top, #bf2604, #c82804, #d22a04, #db2c05, #e52e05, #e93b06, #ee4608, #f2500b, #f26214, #f2721e, #f28029, #f28d35);
background: $secondary;
border-radius: .5rem;
}

.section-container--skills {
    background: $secondary;
}
.section-container--priors {
    background: $tertiary;
}

.footer{
    background: #9997a6;
}


/*=============================================
=            overlay / mobile navbar            =
=============================================*/


/* mobile navbar */

.navbar__mobile{ 
    background-image: linear-gradient(to right, #f23005, #e52e05, #d82b04, #cc2904, #bf2604);
}

// .svg__site-glpyh{
.svg__site-glyph{
    fill: $secondary;
@include mq('tablet-wide'){
    fill: $white;
}
}

.navbar-toggler-icon {} //color set in background-image property in layout.scss



/* overlay */


.svg__site-glyph--reversed {
    fill: $primary-400;
}

a.closebtn{
    color: $secondary;
}


.overlay{
   background: $black;
}

.overlay__content{
    background: $black;
}

.overlay__content a{
color: $secondary;
}

.overlay__footer{
    background: $black;
}



/*=============================================
=            sidebar            =
=============================================*/

.sidebar__container{
    background: $primary-100;

}

.sidebar__content-container a{
    color: $white;
}

.icon__sidebar-nav{
    fill: $black;
} 



/*=============================================
=            misc elements            =
=============================================*/
button:focus {
    outline-color: transparent;
}

.scroll-top{
    background: rgba(255,255,255,.5);
    // border: thin solid $primary;
}

.scrollup{
fill: $gray-600;
}


/*=============================================
=            iconography            =
=============================================*/

.icon__contact, .icon{
    fill: $white;
}

.icon__overlay-nav{
fill: $secondary;
}

.icon__sidebar-nav{
    fill: $secondary;
}

.icon__contact--footer{
    fill: $secondary;
}


/*=============================================
=            text            =
=============================================*/


a {
    color: $secondary;
}

.content--projects{
        color: $primary-300;
}


/* section-specific */

.section-container--intro{
    color: $white;
}

.content--skills{
    color: $white;
}

.section-container--availability{
h3, h4{
color: $secondary;
}
}

.section-container--priors{
    color: $white;
}

.content--about{
    h3, h4{
color: $secondary;
    }
}

.footer__text{
    color: $secondary;
}



/*=============================================
=            footer            =
=============================================*/
#wrapper-footer{
    border-top: thin solid $neutral;
    background: transparent;
    color: $white;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    @include vr($padding: 1 2 .25 2);
    background: $neutral;

}

.footer-content__container{
    & a{
        color: $white;
    }
}

.footer-content__container{
    width: 100%;
    max-width: 100%;
    display: flex;
    min-height: 10rem;
    //!stacked

 
    // flex-direction: row;
    // flex-wrap: wrap;


}

.footer-content__container a{
    width: 100%;
    max-width: 100%;
    min-height: 1rem;

}

.site-footer{
 background: $neutral;
    min-height: 2rem;
}



