/*=============================================
=            section background colors           =
=============================================*/


.intro__container {
    background: #f3f4f5;
}

.skills__background {
    background: yellow;
}
.priors__background {
    background: yellow;
}



/*=============================================
=            misc elements            =
=============================================*/
button:focus {
    outline-color: transparent;
}