
/*=============================================
=            section background shapes           =
=============================================*/

.skewed {
    position: relative;
}
.skewed--top,
.skewed--bottom {
    position: relative;
    @include vr($padding: 3 0);
}


/* skewed right */


.skewed--top:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
}
.skewed--bottom:after {
    bottom: 0;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
}


/* skewed left */
//! top only
.skewed__reverse--top {
    @include vr($padding: 3 0);
    z-index: 1;
}

.skewed__reverse--top:before{
    background: inherit;
    top: 0;
    transform-origin: 0 100%;
    transform: skewY(-1.5deg);
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
}

//! top and bottom
.skewed__reverse--both{
    @include vr($padding: 4 0);
    position: relative;
    z-index: 1;
}

.skewed__reverse--both:before {
    top: 0;
    transform: skewY(-1.5deg);
    transform-origin: 0 100%;
}


.skewed__reverse--both:after,
.skewed__reverse--both:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
}
.skewed__reverse--both:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
}



/*=============================================
=            misc          =
=============================================*/

.screengrab.screengrab__jjcom {
    @include minimal-shadow();
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
    
    }


    
    /*=============================================
    =            dropshadows            =
    =============================================*/
 // section container drop-shadows ( .section-container--availability & .section-container--projects disabled)   
    .section-container--skills{
        @include minimal-shadow();    
    }

    .section-container--intro, .section-container--priors:after{
        @include dark-shadow();
    }
    
    .section-container--skills:after{
        @include dark-shadow();
    }

    .scroll-top{
        // @include dark-shadow();
    }

.overlay{
    // -webkit-box-shadow: 24px 19px 22px -13px rgba(0, 0, 0, .8);
    // -moz-box-shadow: 24px 19px 22px -13px rgba(0, 0, 0, .8);
    // box-shadow: 24px 19px 22px -13px rgba(0, 0, 0, .8);
@include dark-shadow();
}