
/*=============================================
=            section background shapes           =
=============================================*/

.skewed {
    position: relative;
}
.skewed--top,
.skewed--bottom {
    position: relative;
    @include vr($padding: 3 0 3 3);
}


/* skewed right */


.skewed--top:before {
    top: 0;
    transform: skewY(1.5deg);
    transform-origin: 100% 0;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
}
.skewed--bottom:after {
    bottom: 0;
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
    transform: skewY(1.5deg);
    transform-origin: 0 100%;
}


/* skewed left */

.skewed__reverse--top {
    @include vr($padding: 3 0 3 3);
    z-index: 1;
}

.skewed__reverse--top:before{
    background: inherit;
    top: 0;
    transform-origin: 0 100%;
    transform: skewY(-1.5deg);
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
}


.skewed__reverse--both:before {
    top: 0;
}
.skewed__reverse--both:after,
.skewed__reverse--both:before {
    background: inherit;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
    outline: 1px solid transparent;
}
.skewed__reverse--both:after {
    bottom: 0;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
}