# Specify filepatterns you want git to ignore.

.sass-cache

bower_components

node_modules

understrap.zip

dist

dist-product

npm-debug.log

duplicator

duplicator pro

backups-dup-product

updraftplus





#Code Revisions 1
#Flywheel WP .gitignore
#flywheel-gitignore
.htaccess
*~
.DS_Store
.svn
.cvs
*.bak
*.swp
Thumbs.db
test/

# wordpress specific
wp-config.php
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/*
wp-content/backup-db/*
wp-content/advanced-cache.php
wp-content/wp-cache-config.php
wp-content/cache/*
wp-content/cache/supercache/*

# theme specific
wp-content/themes/**/node_modules
wp-content/themes/**/.sass-cache

# wp core (as of 3.4.1)
/db-config.php
/index.php
/license.txt
/readme.html
/wp-activate.php
/wp-app.php
/wp-atom.php
/wp-blog-header.php
/wp-comments-post.php
/wp-commentsrss2.php
/wp-config-sample.php
/wp-cron.php
/wp-feed.php
/wp-links-opml.php
/wp-load.php
/wp-login.php
/wp-mail.php
/wp-rdf.php
/wp-rss.php
/wp-rss2.php
/wp-pass.php
/wp-register.php
/wp-settings.php
/wp-signup.php
/wp-trackback.php
/xmlrpc.php
/wp-admin
/wp-includes
/wp-content/index.php
/wp-content/themes/twentyten
/wp-content/themes/index.php
/wp-content/plugins/index.php
@jamiejohnsonkc




/vendor/




/vendor/
fonts/fontawesome-webfont.eot
fonts/fontawesome-webfont.svg
fonts/fontawesome-webfont.ttf
fonts/fontawesome-webfont.woff
fonts/fontawesome-webfont.woff2
sass/assets/font-awesome.scss
src/js/bootstrap4/bootstrap.bundle.js
src/js/bootstrap4/bootstrap.bundle.min.js
src/js/bootstrap4/bootstrap.js
src/js/bootstrap4/bootstrap.min.js
src/js/custom-javascript.js
src/js/skip-link-focus-fix.js
src/sass/bootstrap4/_alert.scss
src/sass/bootstrap4/_badge.scss
src/sass/bootstrap4/_breadcrumb.scss
src/sass/bootstrap4/_button-group.scss
src/sass/bootstrap4/_buttons.scss
src/sass/bootstrap4/_card.scss
src/sass/bootstrap4/_carousel.scss
src/sass/bootstrap4/_close.scss
src/sass/bootstrap4/_code.scss
src/sass/bootstrap4/_custom-forms.scss
src/sass/bootstrap4/_dropdown.scss
src/sass/bootstrap4/_forms.scss
src/sass/bootstrap4/_functions.scss
src/sass/bootstrap4/_grid.scss
src/sass/bootstrap4/_images.scss
src/sass/bootstrap4/_input-group.scss
src/sass/bootstrap4/_jumbotron.scss
src/sass/bootstrap4/_list-group.scss
src/sass/bootstrap4/_media.scss
src/sass/bootstrap4/_mixins.scss
src/sass/bootstrap4/_modal.scss
src/sass/bootstrap4/_nav.scss
src/sass/bootstrap4/_navbar.scss
src/sass/bootstrap4/_pagination.scss
src/sass/bootstrap4/_popover.scss
src/sass/bootstrap4/_print.scss
src/sass/bootstrap4/_progress.scss
src/sass/bootstrap4/_reboot.scss
src/sass/bootstrap4/_root.scss
src/sass/bootstrap4/_spinners.scss
src/sass/bootstrap4/_tables.scss
src/sass/bootstrap4/_toasts.scss
src/sass/bootstrap4/_tooltip.scss
src/sass/bootstrap4/_transitions.scss
src/sass/bootstrap4/_type.scss
src/sass/bootstrap4/_utilities.scss
src/sass/bootstrap4/_variables.scss
src/sass/bootstrap4/bootstrap-grid.scss
src/sass/bootstrap4/bootstrap-reboot.scss
src/sass/bootstrap4/bootstrap.scss
src/sass/bootstrap4/mixins/_alert.scss
src/sass/bootstrap4/mixins/_background-variant.scss
src/sass/bootstrap4/mixins/_badge.scss
src/sass/bootstrap4/mixins/_border-radius.scss
src/sass/bootstrap4/mixins/_box-shadow.scss
src/sass/bootstrap4/mixins/_breakpoints.scss
src/sass/bootstrap4/mixins/_buttons.scss
src/sass/bootstrap4/mixins/_caret.scss
src/sass/bootstrap4/mixins/_clearfix.scss
src/sass/bootstrap4/mixins/_deprecate.scss
src/sass/bootstrap4/mixins/_float.scss
src/sass/bootstrap4/mixins/_forms.scss
src/sass/bootstrap4/mixins/_gradients.scss
src/sass/bootstrap4/mixins/_grid-framework.scss
src/sass/bootstrap4/mixins/_grid.scss
src/sass/bootstrap4/mixins/_hover.scss
src/sass/bootstrap4/mixins/_image.scss
src/sass/bootstrap4/mixins/_list-group.scss
src/sass/bootstrap4/mixins/_lists.scss
src/sass/bootstrap4/mixins/_nav-divider.scss
src/sass/bootstrap4/mixins/_pagination.scss
src/sass/bootstrap4/mixins/_reset-text.scss
src/sass/bootstrap4/mixins/_resize.scss
src/sass/bootstrap4/mixins/_screen-reader.scss
src/sass/bootstrap4/mixins/_size.scss
src/sass/bootstrap4/mixins/_table-row.scss
src/sass/bootstrap4/mixins/_text-emphasis.scss
src/sass/bootstrap4/mixins/_text-hide.scss
src/sass/bootstrap4/mixins/_text-truncate.scss
src/sass/bootstrap4/mixins/_transition.scss
src/sass/bootstrap4/mixins/_visibility.scss
src/sass/bootstrap4/utilities/_align.scss
src/sass/bootstrap4/utilities/_background.scss
src/sass/bootstrap4/utilities/_borders.scss
src/sass/bootstrap4/utilities/_clearfix.scss
src/sass/bootstrap4/utilities/_display.scss
src/sass/bootstrap4/utilities/_embed.scss
src/sass/bootstrap4/utilities/_flex.scss
src/sass/bootstrap4/utilities/_float.scss
src/sass/bootstrap4/utilities/_overflow.scss
src/sass/bootstrap4/utilities/_position.scss
src/sass/bootstrap4/utilities/_screenreaders.scss
src/sass/bootstrap4/utilities/_shadows.scss
src/sass/bootstrap4/utilities/_sizing.scss
src/sass/bootstrap4/utilities/_spacing.scss
src/sass/bootstrap4/utilities/_stretched-link.scss
src/sass/bootstrap4/utilities/_text.scss
src/sass/bootstrap4/utilities/_visibility.scss
src/sass/bootstrap4/vendor/_rfs.scss
src/sass/fontawesome/_animated.scss
src/sass/fontawesome/_bordered-pulled.scss
src/sass/fontawesome/_core.scss
src/sass/fontawesome/_fixed-width.scss
src/sass/fontawesome/_icons.scss
src/sass/fontawesome/_larger.scss
src/sass/fontawesome/_list.scss
src/sass/fontawesome/_mixins.scss
src/sass/fontawesome/_path.scss
src/sass/fontawesome/_rotated-flipped.scss
src/sass/fontawesome/_screen-reader.scss
src/sass/fontawesome/_stacked.scss
src/sass/fontawesome/_variables.scss
src/sass/fontawesome/font-awesome.scss
src/sass/underscores/_captions.scss
src/sass/underscores/_galleries.scss
src/sass/underscores/_media.scss
src/sass/understrap/assets/bootstrap4.scss
src/sass/understrap/assets/font-awesome.scss
src/sass/understrap/assets/underscores.scss
src/sass/understrap/custom-editor-style.scss
src/sass/understrap/theme.scss
src/sass/understrap/theme/_contact-form7.scss
src/sass/understrap/theme/_theme.scss
src/sass/understrap/theme/_theme_variables.scss
src/sass/understrap/understrap/understrap.scss
src/sass/understrap/understrap/woocommerce.scss
