@import 'theme/mobile_overlay';
@import 'theme/sidebar';
//** global styles
html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    // @include vr-grid();
}

section {
    // @include vr($margin-bottom: 4);
}

h1 {
    @include vr($font-size: 1) color: $text-muted;
    text-transform: uppercase;
}

h2 {
    @include vr($font-size: 4, $line-height: 3, $margin-top: 2, $margin-bottom: 1);
    text-transform: uppercase;
    font-weight: $font-weight-bold;
    letter-spacing: -.15rem;
}

h3 {
    @include vr($font-size: 3, $margin-bottom: 2);
}

h4 {
    @include vr($font-size: 1);
    // font-weight: $font-weight-bold;
    color: $text-muted;
    text-transform: uppercase
}

p {
    @include vr($font-size: 1, $margin-bottom: 1, $line-height: 1.5, $width: 83%);
}

a {
    @include vr($font-size: 1);
}

//** misc site elements
.scrollup {
    width: 16px;
}

button:focus {
    outline-color: transparent;
}

//** main
.text__contact {
    @include vr($font-size: 1, $margin-bottom: 2, $line-height: 1.5);
    color: $text-muted;
    text-transform: uppercase;
}

.intro__container {
    background: #f3f4f5;
}

.icon__contact {
    @include vr($margin-top: 2, $width: 3);
}

h4.project-name {
    @include vr($margin-bottom: 1);
    // text-transform: none;
}

.screengrab {
    width: 83%;
    @include vr($margin-bottom: 1);
}

.project-caption {
    @include vr($font-size: 0);
}

.skills {
    max-width: 83%;
}

.skills h4 {
    @include vr($margin-top: 3);
}

.icon__skills {
    max-width: 16.8%;
    @include vr($margin-bottom: 1, $width: 3);
}

//*navbar__mobile
//* only display sidebar on desktop+
.navbar__mobile {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: #949697;
    align-items: center;
    @include vr($padding-left: 1, $padding-right: 1, $height: 3);
}

//* small screen site-glyph
.svg__site-glyph {
    display: flex;
    width: 3rem;
    max-width: 3rem;
    fill: #ffffff
}

//* small screen overlay open button
.navbar-toggler {
    // border-color: #ffffff;
    height: 3rem;
    max-width: 3rem;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

//! media queries
@include mq('tablet-wide',
$type:max) {
    #full-width-page-wrapper {
        @include vr($padding-top: 5);
    }
    .site-main {
        @include vr($padding-left: 1, $padding-right: 1);
    }
}

@include mq('tablet') {
    .overlay {
        display: none;
    }
}

@include mq('tablet-wide') {
    .navbar__mobile {
        display: none;
    }
    .sidebar__container {
        display: flex;
    }
    .site-main {
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-direction: row;
    }
    .svg__site-glyph {
        width: 50%;
        max-width: 50%;
        @include vr($margin-bottom: 2);
    }
    article {
        position: relative;
        left: 23%;
        width: 77%;
        display: flex;
        flex-direction: column;
        @include vr($padding-left: 0);
    }
    section {
        @include vr($padding-left: 3);
    }
    .intro__container {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .intro__content {
        flex: 0 1;
    }
    .intro__content,
    .projects,
    .priors,
    .about {
        max-width: 83%;
    }
    .section__projects {
        @include vr($margin: 6 0 6 0);
    }
    .priors__background {
        @include vr($margin-top: 2);
    }
    .skewed {
        position: relative;
    }
    .skewed--top,
    .skewed--bottom {
        position: relative;
        @include vr($padding: 3 0 3 3);
    }
    .skewed--top:before {
        top: 0;
        -webkit-transform: skewY(1.5deg);
        -ms-transform: skewY(1.5deg);
        transform: skewY(1.5deg);
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
    }
    .skewed--bottom:after {
        bottom: 0;
        -webkit-transform: skewY(1.5deg);
        -ms-transform: skewY(1.5deg);
        transform: skewY(1.5deg);
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
    }
    .skewed__reverse--top:before {
        top: 0;
        -webkit-transform: skewY(-1.5deg);
        -ms-transform: skewY(-1.5deg);
        transform: skewY(-1.5deg);
        -webkit-transform-origin: 0 100%;
        -ms-transform-origin: 0 100%;
        transform-origin: 0 100%;
    }
    .skewed__reverse--both:before {
        top: 0;
        -webkit-transform: skewY(1.5deg);
        -ms-transform: skewY(1.5deg);
        transform: skewY(1.5deg);
        -webkit-transform-origin: 100% 0;
        -ms-transform-origin: 100% 0;
        transform-origin: 100% 0;
    }
    .skewed__reverse--both:after,
    .skewed__reverse--both:before {
        background: inherit;
        content: '';
        display: block;
        height: 50%;
        left: 0;
        position: absolute;
        right: 0;
        z-index: -1;
        outline: 1px solid transparent;
        -webkit-backface-visibility: hidden;
    }
    .skewed__reverse--both:after {
        bottom: 0;
        -webkit-transform: skewY(-1.5deg);
        -ms-transform: skewY(-1.5deg);
        transform: skewY(-1.5deg);
        -webkit-transform-origin: 100%;
        -ms-transform-origin: 100%;
        transform-origin: 100%;
    }
    .skills__background {
        background: yellow;
    }
    .priors__background {
        background: blue;
    }
}

@include mq('desktop') {
    .projects .flex-container {
        display: flex;
    }
    .project-image {
        flex: 2;
    }
    .project-description {
        flex: 1;
        p {
            width: 100%;
        }
    }
}

@include mq('desktop-wide') {}
