/*=============================================
=            global           =
=============================================*/




/*=============================================
=            nav/header           =
=============================================*/

.overlay>.container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 4rem;
    height: 8rem;
}

.svg__site-glyph--reversed {
    // left: 4%;
    // top: 1.5%;
    display: flex;
    width: 4.25rem;
    max-width: 4.25rem;
}

a.closebtn {
    @include vr($font-size: 3);
    font-weight: bold;
    // position: absolute;
    // top: 0.5%;
    display: flex;
    width: 2.25rem;
    max-width: 2.25rem;
    align-self: center;
    &:focus {
        outline: transparent;
    }
    &:hover {
        text-decoration: none;
    }
}

.overlay {
    height: 100%;
    width: 0%; //!return to zero when finished with styling
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    flex-direction: column;
}


/*=============================================
=            overlay content         =
=============================================*/

.overlay__content {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 33rem;
    flex: 6;
}

.overlay__menu {
    width: 40%;
}

.overlay__content a {
    max-width: 100%;
    width: 100%;
    padding: 8px;
    text-decoration: none;
    @include vr($font-size: 1, $margin-bottom: 1);
    letter-spacing: .25rem;
    font-weight: 500;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

    // justify-content: space-evenly;
}

// .overlay a:hover {
//     color: #202124;
// }
.icon__overlay-nav {
    display: flex;
    width: 1.5rem;
    max-width: 1.5rem;
}

.nav-item__overlay {
    width: 9rem;
    max-width: 9rem;
    display: flex;
    text-transform: uppercase;
}

.overlay a:focus,
.overlay a:hover {
    & .icon__overlay-nav {
    }
}


/*=============================================
=            Overlay footer            =
=============================================*/

.overlay__footer {
    min-height: 10rem;
    display: flex;
    flex: 2;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.container__footer-icons {
    width: 100%;
    max-width: 100%;
    // display: flex;
    // flex: 1 0 100%;
    // flex-direction: row;
}

.icon__contact--footer {
    @include vr($width: 2, $margin-right: 1);
}

.footer__text {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .25rem;
}

.footer__head {
    @include vr($font-size: 2);
    display: block;
}

.footer__subhead {
    @include vr($margin-bottom: 1)
}