@include mq('desktop') {
    p {
        width: 61%;
    }
    
    .content--skills h4 {
        @include vr($margin-top: 3);
    }
    .content--projects .flex-container {
        display: flex;
    }
    .project-image {
        flex: 2;
    }
    .project-description {
        flex: 1;
        p {
            width: 100%;
        }
    }


/*=============================================
=            content width            =
=============================================*/

    .content--intro,
    .content--projects,
    .content--priors,
    .content--about {
        max-width: 61%;
    }
}