@include mq('tablet-wide') {


    /*=============================================
=            page layout            =
=============================================*/


    .site-main {
        display: flex;
        width: 100%;
        max-width: 100%;
        flex-direction: row;
    }

    article {
        position: relative;
        left: 23%;
        width: 77%;
        display: flex;
        flex-direction: column;
        // @include vr($padding-left: 0);
    }



    // section {
    //     @include vr($padding-left: 3);
    // }


    .section-container--intro {
        height: 100vh;

    }

    .content--intro {
        flex: 0 1;
    }

    //* sidebar

    .svg__site-glyph {
        width: 61%;
        max-width: 61%;
        @include vr($margin-bottom: 3);
    }


    .nav-item__sidebar {
        @include vr($font-size: .75);
     
    }
    

    span.nav-item__sidebar {
        @include vr($font-size: 0, $width: 4);
    }

    .sidebar__content-container a {
        @include vr($margin-bottom: 1.25);
    }




    p {
        width: 83%;
    }






    /*=============================================
=            content width            =
=============================================*/
    // .content--intro,
    // .content--projects,
    // .content--priors,
    // .content--about {
    //     max-width: 83%;
    // }



    /*=============================================
    =            vertical spacing             =
    =============================================*/



    //   .content--about{
    //         @include vr($margin-top: 3);
    //     }
    //     .section-container--projects, .section-container--availability, .section-container--priors {
    //         @include vr($margin: 6 0 6 0);
    //     }

    //     .section-container--about{
    //         @include vr($margin-bottom: 6);
    //     }


    //     .section-container--priors {
    //         @include vr($margin-top: 2);
    //     }

}
